<mat-toolbar color="primary">
  <span><a routerLink = "/">MyMessages</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Sign Up</a>
    </li>
    <li>
      <button mat-button *ngIf="userIsAuthenticated">Logout</button>
    </li>
  </ul>
</mat-toolbar>
